.header {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  height: 120px;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  transition: .4s ease-out; }
  @media screen and (max-width: 992px) {
    .header {
      padding: 0 30px;
      height: 80px; } }
  .header #offCanvasOpen {
    visibility: hidden; }
    @media screen and (max-width: 992px) {
      .header #offCanvasOpen {
        visibility: visible;
        height: 30px;
        width: 42px;
        min-height: 30px;
        min-width: 42px;
        position: relative;
        top: 25px;
        right: 0;
        cursor: pointer; }
        .header #offCanvasOpen::after {
          content: '';
          position: absolute;
          height: 30px;
          width: 42px;
          border-top: 2px solid white;
          border-bottom: 2px solid white; } }
    @media screen and (max-width: 992px) and (max-width: 576px) {
      .header #offCanvasOpen::after {
        height: 14px;
        width: 35px;
        right: 0; } }
    @media screen and (max-width: 992px) {
        .header #offCanvasOpen::before {
          content: '';
          position: absolute;
          height: 16px;
          width: 42px;
          border-bottom: 2px solid white; } }
    @media screen and (max-width: 992px) and (max-width: 576px) {
      .header #offCanvasOpen::before {
        height: 26px;
        width: 35px;
        right: 0; } }
  .header__logo {
    display: flex;
    align-items: center; }
    .header__logo svg {
      height: 90px;
      width: auto; }
      @media screen and (max-width: 992px) {
        .header__logo svg {
          height: 60px; } }
      .header__logo svg path {
        fill: white;
        transition: .4s ease-out; }
  .header__nav {
    display: flex; }
    @media screen and (max-width: 992px) {
      .header__nav {
        height: 100%;
        overflow-x: scroll;
        visibility: hidden;
        width: 0px;
        position: fixed;
        right: 0;
        flex-direction: column;
        background: linear-gradient(135deg, #feac28, #e0b31e);
        box-shadow: 5px 2px 36px -10px #373737;
        transition: .4s ease-out; } }
    .header__nav.--isOpen {
      width: 400px;
      visibility: visible;
      transition: .4s ease-out; }
      @media screen and (max-width: 400px) {
        .header__nav.--isOpen {
          width: 350px; } }
      .header__nav.--isOpen #offCanvasClose {
        visibility: visible; }
    .header__nav #offCanvasClose {
      visibility: hidden; }
      @media screen and (max-width: 992px) {
        .header__nav #offCanvasClose {
          height: 35px;
          width: 40px;
          min-height: 35px;
          min-width: 40px;
          position: relative;
          top: 23px;
          left: 340px;
          cursor: pointer; } }
  @media screen and (max-width: 992px) and (max-width: 400px) {
    .header__nav #offCanvasClose {
      left: 293px; } }
      @media screen and (max-width: 992px) {
          .header__nav #offCanvasClose::after {
            content: '';
            position: absolute;
            height: 2px;
            width: 40px;
            top: 15px;
            background: white;
            transform: rotate(45deg); }
          .header__nav #offCanvasClose::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 40px;
            top: 15px;
            background: white;
            transform: rotate(-45deg); } }
    .header__nav .header__navList {
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 100px; }
      @media screen and (max-width: 992px) {
        .header__nav .header__navList {
          flex-direction: column;
          margin: 0; } }
      @media screen and (max-width: 992px) {
        .header__nav .header__navList {
          align-items: flex-start;
          justify-content: flex-start;
          padding: 120px 40px 40px 40px;
          height: auto; } }
      .header__nav .header__navList .header__navItem {
        margin-right: 35px;
        position: relative; }
        .header__nav .header__navList .header__navItem:last-of-type {
          margin: 0; }
        @media screen and (max-width: 1200px) {
          .header__nav .header__navList .header__navItem {
            margin-right: 25px; } }
        @media screen and (max-width: 992px) {
          .header__nav .header__navList .header__navItem {
            margin: 0 0 20px 0; } }
        @media screen and (max-width: 400px) {
          .header__nav .header__navList .header__navItem {
            margin: 0 0 10px 0; } }
        .header__nav .header__navList .header__navItem::after {
          content: '';
          position: absolute;
          border-bottom: 2px solid white;
          bottom: -5px;
          left: 0;
          width: 0%;
          transition: 0.4s all; }
          @media screen and (max-width: 992px) {
            .header__nav .header__navList .header__navItem::after {
              bottom: 3px;
              border-bottom: 1px solid white; } }
        .header__nav .header__navList .header__navItem:hover::after {
          width: 100%;
          transition: 0.4s all; }
        .header__nav .header__navList .header__navItem a {
          font-size: 20px;
          color: white;
          text-decoration: none;
          transition: .4s ease-out; }
          @media screen and (max-width: 992px) {
            .header__nav .header__navList .header__navItem a {
              font-size: 42px;
              font-weight: 100; } }
          @media screen and (max-width: 768px) {
            .header__nav .header__navList .header__navItem a {
              font-size: 34px;
              font-weight: 100; } }
          @media screen and (max-width: 400px) {
            .header__nav .header__navList .header__navItem a {
              font-size: 28px; } }
    .header__nav .header__social {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none; }
      @media screen and (max-width: 992px) {
        .header__nav .header__social {
          align-items: flex-start;
          padding: 0px 40px; } }
      .header__nav .header__social .header__socialItem {
        height: max-content;
        margin-right: 20px; }
        .header__nav .header__social .header__socialItem:last-of-type {
          margin-right: 0; }
        .header__nav .header__social .header__socialItem a {
          padding: 10px; }
          .header__nav .header__social .header__socialItem a svg {
            height: 23px;
            width: auto; }
            @media screen and (max-width: 992px) {
              .header__nav .header__social .header__socialItem a svg {
                height: 40px; } }
            @media screen and (max-width: 400px) {
              .header__nav .header__social .header__socialItem a svg {
                height: 25px; } }
            .header__nav .header__social .header__socialItem a svg path {
              transition: .4s ease-out;
              fill: white; }
  .header.--white {
    background-color: white;
    transition: .4s ease-out;
    box-shadow: 0px 8px 18px -16px black; }
    .header.--white .header__logo a svg path {
      fill: #feb52d;
      transition: .4s ease-out; }
    .header.--white #offCanvasOpen::before {
      border-bottom: 2px solid #373737;
      transition: .4s ease-out; }
    .header.--white #offCanvasOpen::after {
      border-top: 2px solid #373737;
      border-bottom: 2px solid #373737;
      transition: .4s ease-out; }
    @media screen and (max-width: 992px) {
      .header.--white .header__nav {
        background: white; } }
    .header.--white .header__nav #offCanvasClose::before {
      background: #373737;
      transition: .4s ease-out; }
    .header.--white .header__nav #offCanvasClose::after {
      background: #373737;
      transition: .4s ease-out; }
    .header.--white .header__nav .header__navList .header__navItem::after {
      border-bottom: 2px solid #373737; }
    .header.--white .header__nav .header__navList .header__navItem a {
      color: #373737;
      transition: .4s ease-out; }
    .header.--white .header__nav .header__social .header__socialItem a svg path {
      fill: #373737;
      transition: .4s ease-out; }

.footer {
  padding: 30px 0;
  border-top: 5px solid #feb52d; }
  .footer .footer__content .headline {
    color: #373737;
    font-size: 24px;
    margin-bottom: 15px;
    display: block; }
    @media screen and (max-width: 576px) {
      .footer .footer__content .headline {
        font-size: 22px; } }
  .footer .footer__content p {
    color: #373737;
    font-size: 18px; }
    @media screen and (max-width: 576px) {
      .footer .footer__content p {
        font-size: 16px; } }
  .footer .footer__navWrapper .footer__navHeadline {
    margin-bottom: 15px;
    font-size: 24px;
    color: #373737; }
    @media screen and (max-width: 576px) {
      .footer .footer__navWrapper .footer__navHeadline {
        font-size: 22px; } }
  .footer .footer__navWrapper .footer__nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px; }
    .footer .footer__navWrapper .footer__nav:only-child {
      margin-bottom: 0; }
    .footer .footer__navWrapper .footer__nav .footer__navList {
      list-style: none;
      margin-bottom: 10px; }
      .footer .footer__navWrapper .footer__nav .footer__navList .footer__navItem {
        color: #373737;
        font-size: 18px; }
        @media screen and (max-width: 576px) {
          .footer .footer__navWrapper .footer__nav .footer__navList .footer__navItem {
            font-size: 16px; } }
    .footer .footer__navWrapper .footer__nav.social {
      display: flex;
      flex-direction: row; }
      .footer .footer__navWrapper .footer__nav.social .footer__navItem {
        margin: 0 25px 0 0;
        list-style: none; }
        .footer .footer__navWrapper .footer__nav.social .footer__navItem a img {
          height: 30px;
          width: auto; }
        .footer .footer__navWrapper .footer__nav.social .footer__navItem:last-of-type {
          margin: 0; }

.footer__bottomBar {
  width: 100%;
  height: 60px;
  background: #373737;
  display: flex;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .footer__bottomBar {
      height: 75px; } }
  .footer__bottomBar .footer__bottomBarContent {
    display: flex;
    justify-content: space-between;
    height: 100%; }
    @media screen and (max-width: 768px) {
      .footer__bottomBar .footer__bottomBarContent {
        flex-direction: column;
        align-items: center; } }
    .footer__bottomBar .footer__bottomBarContent span {
      color: white;
      font-size: 16px; }
      @media screen and (max-width: 576px) {
        .footer__bottomBar .footer__bottomBarContent span {
          font-size: 14px; } }
    .footer__bottomBar .footer__bottomBarContent .footer__bottomBarNav {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex; }
      .footer__bottomBar .footer__bottomBarContent .footer__bottomBarNav li {
        margin-right: 20px; }
        .footer__bottomBar .footer__bottomBarContent .footer__bottomBarNav li:last-of-type {
          margin-right: 0; }
        .footer__bottomBar .footer__bottomBarContent .footer__bottomBarNav li a {
          color: white;
          font-size: 16px; }
          @media screen and (max-width: 576px) {
            .footer__bottomBar .footer__bottomBarContent .footer__bottomBarNav li a {
              font-size: 14px; } }

.headlineBox .headline, .headlineBox .subheadline {
  color: #373737;
  line-height: 1;
  display: block; }
  .headlineBox .headline.--h1, .headlineBox .subheadline.--h1 {
    font-size: 56px;
    line-height: 66px; }
    @media screen and (max-width: 992px) {
      .headlineBox .headline.--h1, .headlineBox .subheadline.--h1 {
        font-size: 50px;
        line-height: 60px; } }
    @media screen and (max-width: 768px) {
      .headlineBox .headline.--h1, .headlineBox .subheadline.--h1 {
        font-size: 46px;
        line-height: 56px; } }
    @media screen and (max-width: 850px) {
      .headlineBox .headline.--h1, .headlineBox .subheadline.--h1 {
        font-size: 40px;
        line-height: 50px; } }
    @media screen and (max-width: 576px) {
      .headlineBox .headline.--h1, .headlineBox .subheadline.--h1 {
        font-size: 36px;
        line-height: 46px; } }
  .headlineBox .headline.--h2, .headlineBox .subheadline.--h2 {
    font-size: 48px;
    line-height: 58px; }
    @media screen and (max-width: 992px) {
      .headlineBox .headline.--h2, .headlineBox .subheadline.--h2 {
        font-size: 40px;
        line-height: 50px; } }
    @media screen and (max-width: 768px) {
      .headlineBox .headline.--h2, .headlineBox .subheadline.--h2 {
        font-size: 34px;
        line-height: 44px; } }
    @media screen and (max-width: 850px) {
      .headlineBox .headline.--h2, .headlineBox .subheadline.--h2 {
        font-size: 32px;
        line-height: 42px; } }
    @media screen and (max-width: 576px) {
      .headlineBox .headline.--h2, .headlineBox .subheadline.--h2 {
        font-size: 30px;
        line-height: 40px; } }
  .headlineBox .headline.--h3, .headlineBox .subheadline.--h3 {
    font-size: 40px;
    line-height: 50px; }
    @media screen and (max-width: 992px) {
      .headlineBox .headline.--h3, .headlineBox .subheadline.--h3 {
        font-size: 34px;
        line-height: 44px; } }
    @media screen and (max-width: 768px) {
      .headlineBox .headline.--h3, .headlineBox .subheadline.--h3 {
        font-size: 32px;
        line-height: 42px; } }
    @media screen and (max-width: 850px) {
      .headlineBox .headline.--h3, .headlineBox .subheadline.--h3 {
        font-size: 30px;
        line-height: 40px; } }
    @media screen and (max-width: 576px) {
      .headlineBox .headline.--h3, .headlineBox .subheadline.--h3 {
        font-size: 28px;
        line-height: 38px; } }
  .headlineBox .headline.--h4, .headlineBox .subheadline.--h4 {
    font-size: 28px;
    line-height: 38px; }
    @media screen and (max-width: 992px) {
      .headlineBox .headline.--h4, .headlineBox .subheadline.--h4 {
        font-size: 24px;
        line-height: 34px; } }
    @media screen and (max-width: 768px) {
      .headlineBox .headline.--h4, .headlineBox .subheadline.--h4 {
        font-size: 22px;
        line-height: 32px; } }
    @media screen and (max-width: 850px) {
      .headlineBox .headline.--h4, .headlineBox .subheadline.--h4 {
        font-size: 20px;
        line-height: 30px; } }
    @media screen and (max-width: 576px) {
      .headlineBox .headline.--h4, .headlineBox .subheadline.--h4 {
        font-size: 18px;
        line-height: 28px; } }
  .headlineBox .headline.--h5, .headlineBox .subheadline.--h5 {
    font-size: 18px;
    line-height: 28px; }
    @media screen and (max-width: 992px) {
      .headlineBox .headline.--h5, .headlineBox .subheadline.--h5 {
        font-size: 16px;
        line-height: 26px; } }
  .headlineBox .headline.--h6, .headlineBox .subheadline.--h6 {
    font-size: 16px;
    line-height: 26px; }

.headlineBox.--half .headline, .headlineBox.--half .subheadline {
  width: 50%; }
  @media screen and (max-width: 768px) {
    .headlineBox.--half .headline, .headlineBox.--half .subheadline {
      width: 100%; } }

.headlineBox.--right {
  display: flex;
  flex-direction: column;
  align-items: flex-end; }
  .headlineBox.--right .headline {
    padding-left: 15px; }
    @media screen and (max-width: 768px) {
      .headlineBox.--right .headline {
        padding-left: 0; } }

.headlineBox.--center {
  display: flex;
  flex-direction: column;
  align-items: center; }

.headlineBox .headline:only-child {
  margin-bottom: 40px; }

.headlineBox .subheadline {
  margin-bottom: 40px; }

.bgBanner {
  height: 500px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .bgBanner img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    position: absolute; }
  .bgBanner .bgBanner__content {
    display: flex;
    justify-content: center;
    align-items: center; }
    .bgBanner .bgBanner__content .quoteWrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 80%; }
      @media screen and (max-width: 768px) {
        .bgBanner .bgBanner__content .quoteWrapper {
          width: 100%; } }
      .bgBanner .bgBanner__content .quoteWrapper .quote {
        font-size: 40px;
        line-height: 46px;
        padding-bottom: 10px;
        color: #fff;
        text-shadow: 1px 1px 9px black;
        text-align: center; }
        @media screen and (max-width: 768px) {
          .bgBanner .bgBanner__content .quoteWrapper .quote {
            font-size: 34px;
            line-height: 44px; } }
        @media screen and (max-width: 576px) {
          .bgBanner .bgBanner__content .quoteWrapper .quote {
            font-size: 26px;
            line-height: 36px; } }
      .bgBanner .bgBanner__content .quoteWrapper .name {
        font-size: 18px;
        text-align: center;
        color: #fff;
        text-shadow: 1px 1px 9px black; }

.serviceTile__wrapper:hover {
  text-decoration: none; }
  .serviceTile__wrapper:hover .serviceTile .headline {
    color: #feb52d; }

.serviceTile__wrapper .serviceTile img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 30px; }
  @media screen and (max-width: 768px) {
    .serviceTile__wrapper .serviceTile img {
      height: 200px; } }

.serviceTile__wrapper .serviceTile .date {
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  letter-spacing: -.5px;
  color: #666666; }

.serviceTile__wrapper .serviceTile .headline {
  display: block;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: -.5px;
  color: #373737; }
  @media screen and (max-width: 768px) {
    .serviceTile__wrapper .serviceTile .headline {
      font-size: 24px; } }
  @media screen and (max-width: 768px) {
    .serviceTile__wrapper .serviceTile .headline {
      font-size: 22px; } }

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; }
  .imgWrapper img {
    width: 100%;
    height: auto;
    object-fit: contain; }
  .imgWrapper.--small img {
    max-height: 400px; }
  .imgWrapper.--medium img {
    max-height: 500px; }
  .imgWrapper.--large img {
    max-height: 500px; }
  .imgWrapper.--end {
    justify-content: flex-end; }
  .imgWrapper.--start {
    justify-content: flex-start; }

.headerBanner {
  position: relative; }
  .headerBanner .bgImage {
    width: 100%;
    height: 90vw;
    max-height: 1000px;
    min-height: 500px;
    object-fit: cover;
    object-position: right bottom; }
  .headerBanner .headerBanner__content {
    position: absolute;
    width: 55%;
    bottom: 20vw;
    z-index: 10;
    display: flex;
    flex-direction: column; }
    @media screen and (max-width: 768px) {
      .headerBanner .headerBanner__content {
        width: 80%; } }
    .headerBanner .headerBanner__content .headline {
      font-size: 31px;
      color: white; }
      @media screen and (max-width: 992px) {
        .headerBanner .headerBanner__content .headline {
          font-size: 28px; } }
      @media screen and (max-width: 768px) {
        .headerBanner .headerBanner__content .headline {
          font-size: 24px; } }
      @media screen and (max-width: 576px) {
        .headerBanner .headerBanner__content .headline {
          font-size: 20px; } }
    .headerBanner .headerBanner__content .subheadline {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 20px;
      font-weight: bold;
      color: white; }
      @media screen and (max-width: 992px) {
        .headerBanner .headerBanner__content .subheadline {
          font-size: 34px;
          line-height: 40px; } }
      @media screen and (max-width: 768px) {
        .headerBanner .headerBanner__content .subheadline {
          font-size: 24px;
          line-height: 30px; } }
      @media screen and (max-width: 576px) {
        .headerBanner .headerBanner__content .subheadline {
          font-size: 22px;
          line-height: 26px; } }

.buttonWrapper {
  position: relative;
  width: max-content; }
  .buttonWrapper .btn {
    font-size: 24px;
    text-decoration: none;
    color: #373737; }
    @media screen and (max-width: 992px) {
      .buttonWrapper .btn {
        font-size: 22px; } }
    @media screen and (max-width: 768px) {
      .buttonWrapper .btn {
        font-size: 20px; } }
    @media screen and (max-width: 576px) {
      .buttonWrapper .btn {
        font-size: 18px; } }
  .buttonWrapper.--white .btn {
    color: white; }
  .buttonWrapper.--border .btn {
    border: 2px solid white;
    border-radius: 99999px;
    padding: 10px 25px;
    background: transparent; }
    .buttonWrapper.--border .btn:hover {
      background: rgba(255, 255, 255, 0.2); }
  .buttonWrapper.--link {
    padding: 0;
    display: flex;
    align-items: center; }
    .buttonWrapper.--link::after {
      content: '';
      position: absolute;
      border-right: 3px solid white;
      border-top: 3px solid white;
      transform: rotate(45deg);
      width: 10px;
      height: 10px;
      right: 0;
      transition: 0.4s all; }
    .buttonWrapper.--link:hover::after {
      right: -4px;
      transition: 0.4s all; }
    .buttonWrapper.--link .btn {
      padding: 0 45px 0 0; }

@media (min-width: 1600px) {
  .container {
    width: 1440px;
    max-width: 100%; } }

body {
  box-sizing: border-box;
  position: relative; }

.mainWrapper {
  overflow-x: hidden; }

.--noScroll {
  overflow: hidden; }

.overlay {
  overflow: hidden; }
  .overlay::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background: rgba(48, 48, 48, 0.5);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 90; }

.container.--primaryColor, .container-fluid.--primaryColor {
  background: #feb52d; }

.container.--bgLightGrey, .container-fluid.--bgLightGrey {
  background: #f3f3f3; }

.container.--dark-grey, .container-fluid.--dark-grey {
  background: #373737; }

.container.inner-ver, .container-fluid.inner-ver {
  padding-top: 60px;
  padding-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .container.inner-ver, .container-fluid.inner-ver {
      padding-top: 40px;
      padding-bottom: 40px; } }
  @media screen and (max-width: 576px) {
    .container.inner-ver, .container-fluid.inner-ver {
      padding-top: 30px;
      padding-bottom: 30px; } }

.container.outer-ver, .container-fluid.outer-ver {
  margin-top: 60px;
  margin-bottom: 60px; }
  @media screen and (max-width: 768px) {
    .container.outer-ver, .container-fluid.outer-ver {
      margin-top: 40px;
      margin-bottom: 40px; } }
  @media screen and (max-width: 576px) {
    .container.outer-ver, .container-fluid.outer-ver {
      margin-top: 30px;
      margin-bottom: 30px; } }

.container-fluid {
  padding: 0; }

p {
  font-size: 18px; }
  @media screen and (max-width: 576px) {
    p {
      font-size: 16px; } }
